/* ----------------- */
/* Index.hmtl style */
/* ----------------- */

/* HTML */
html {
  background-color: black;
}

/* Landing Page */
#landing {
  background: url("https://cdn.pixabay.com/photo/2015/11/04/20/59/milky-way-1023340_960_720.jpg")
    no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 100vh;
}

/* Error Message */
.error
{
color:red;
font-family:verdana, Helvetica;
}

/* Welcome Message */
#welcomeMessage {
  color: black;
}

/* Click to get Horoscope */
#click {
  font-size: larger;
  background-color: black;
  color: white;
  border: 5px solid#ff4081;
  padding: 10px;
  border-radius: 15px;
}

/* Google Font */
#heading,
#horoscopeName,
#zodiacName,
#welcomeMessage,
#natalChartLink {
  font-family: "Orbitron", sans-serif;
}

/* Heading Link - AstroDash */
#heading a {
  color: white;
  margin: 40px;
}

/* Zodiac Signs */
.signs {
  text-align: center;
  color: white;
  background-color: #ff4081;
  font-size: 40px;
  padding: 10px;
  margin: 20px 0 20px 0;
  border-radius: 15px;
}

/* Note: check where this is applied */
.uk-position-medium { 
  margin: 0px;
}

/* Birthday Countdown */
#bday-countdown {
  display: none;
  top: 325px;
  color: white;
  text-align: center;
}

/* Birthday Countdown Header */
#bday-count-head {
  text-align: center;
  font-family: "Orbitron", sans-serif;
  color: #ff4081;
  background-color: black;
  padding: 10px;
  border-radius: 15px;
  bottom: 110px;
}

/* Birthday Countdown Number */
.uk-countdown-number {
  font-size: 30px;
}

/* Form */
#bday-form1 {
  /* margin-top: 200px; */
  display: none;
}

/* Submitted Message */
#submitted {
  color: red;
  display: none;
}

/* Scroll Message and Icon */
#scroll {
  display: none;
  font-size: 20px;
  color: white;
}

/* Horoscope Text */
#horoscopeText {
  font-size: larger;
}

/* Source - Horoscope 1 */
#source {
  color: grey;
}

/* Horoscope header */
h3 {
  color: black;
}

/* Natal Chart Link */
#natalChartLink {
  font-size: 40px;
  color: white;
}


/* Overlay */
.uk-overlay-default {
  width: 100%;
}

/* Horoscopes and Stats */
.horoscope1, 
.horoscope2, 
.horoscope1Stats, 
.horoscope2Stats {
  border-radius: 15px;
  text-align: center;
  color: black;
}

/* Horoscope 1 */
.horoscope1 {
  background-color: #f57c00;
}

/* Horoscope 1 Stats */
.horoscope1Stats {
  background-color: #ffb74d;
}

/* Horoscope 2 */
.horoscope2 {
  background-color: #00838f;
}

/* Horoscope 2 Stats */
.horoscope2Stats {
  background-color: #4dd0e1;
}

/* Stats Panel */
.panels {
  margin-top: 40px;
}

/* Panel Labels */
.panel-text label {
  font-size: 20px;
  color: white;
}

/* Panel Text */
.panel-text span {
  font-size: 30px;
  color: grey;
}



/* .tileColor1 {
  background-color: #ffe0b2;
}

.tileColor2 {
  background-color: #ffa726;
}

.quote1 {
  background-color: #4db6ac;
}
.quote2 {
  background-color: #e6ee9c;
}
.quote3 {
  background-color: #f8bbd0;
} */



/* ---------------- */
/* Natal Chart Page */
/* ---------------- */

/* Chart */
#natalChart {
  top: 200px;
  right: 50px;
}

/* Chart Heading */
#natalChartHeading {
  top: 100px;
  right: 50px;
  text-align: center;
}
