/* <!-- <div class="uk-height-large uk-background-cover uk-light uk-flex uk-position-relative" uk-parallax="bgy: -200"
style="background-image: url('https://cdn.pixabay.com/photo/2015/11/04/20/59/milky-way-1023340_960_720.jpg');"
id="background"> --> */
#landing {
  background: url("https://cdn.pixabay.com/photo/2015/11/04/20/59/milky-way-1023340_960_720.jpg")
    no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 100vh;
}

/* #content {
    display: hide;
} */

html {
  background-color: black;
}

.nav {
  text-align: center;
}

#welcomeMessage {
  color: black;
  /* background-color: black; */
  /* padding: 10px; */
  /* border-radius: 15px; */
}

#click {
  font-size: larger;
  background-color: black;
  color: white;
  border: 5px solid#ff4081;
  padding: 10px;
  border-radius: 15px;
}

#heading,
#horoscopeName,
#zodiacName,
#welcomeMessage,
#natalChartLink {
  font-family: "Orbitron", sans-serif;
}

#heading a {
  color: white;
  margin: 40px;
}

.signs {
  text-align: center;
  color: white;
  background-color: #ff4081;
  font-size: 40px;
  padding: 10px;
  margin: 20px 0 20px 0;
  border-radius: 15px;
}

.uk-position-medium {
  margin: 0px;
}

#bday-countdown {
  display: none;
  top: 325px;
  color: white;
  text-align: center;
}

.uk-countdown-number {
  font-size: 30px;
}

#bday-count-head {
  text-align: center;
  font-family: "Orbitron", sans-serif;
  color: #ff4081;
  background-color: black;
  padding: 10px;
  border-radius: 15px;
}

#background {
  height: 1000px;
}

#bday-form1 {
  /* margin-top: 200px; */
  display: none;
}
/* 
#horoscope-description {
    display: none;
} */

#bday-count-head {
  bottom: 110px;
}

#scroll {
  display: none;
  font-size: 20px;
  color: white;
}

#horoscopeText {
  font-size: larger;
}

#source {
  color: grey;
}

h3 {
  color: black;
}

#natalChartLink {
  font-size: 40px;
  color: white;
}

#natalChart {
  top: 200px;
  right: 50px;
}

#natalChartHeading {
  top: 100px;
  right: 50px;
  text-align: center;
}

.uk-overlay-default {
  width: 100%;
}

.horoscope1, 
.horoscope2, 
.horoscope1Stats, 
.horoscope2Stats {
  border-radius: 15px;
  text-align: center;
  color: black;
}

.horoscope1 {
  background-color: #f57c00;
}
.horoscope1Stats {
  background-color: #ffb74d;
}

.horoscope2 {
  background-color: #00838f;
}

.horoscope2Stats {
  background-color: #4dd0e1;
}

/* .panel-text {
  margin-top: auto;
  margin-bottom: auto;
} */

.panel-text label {
  font-size: 20px;
  color: white;
}

.panel-text span {
  font-size: 30px;
  color: grey;
}

.panels {
  margin-top: 40px;
}

.tileColor1 {
  background-color: #ffe0b2;
}

.tileColor2 {
  background-color: #ffa726;
}

.quote1 {
  background-color: #4db6ac;
}
.quote2 {
  background-color: #e6ee9c;
}
.quote3 {
  background-color: #f8bbd0;
}

#and {
  display: none;
}
