/* <!-- <div class="uk-height-large uk-background-cover uk-light uk-flex uk-position-relative" uk-parallax="bgy: -200"
style="background-image: url('https://cdn.pixabay.com/photo/2015/11/04/20/59/milky-way-1023340_960_720.jpg');"
id="background"> --> */
#landing {
  background: url("https://cdn.pixabay.com/photo/2015/11/04/20/59/milky-way-1023340_960_720.jpg")
    no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 100vh;
}

/* #content {
    display: hide;
} */

html {
  background-color: black;
}

.nav {
  text-align: center;
}

#welcomeMessage {
    color: white;
}

#click {
  font-size: larger;
  background-color: black;
  color: white;
  border: 5px solid white;
  padding: 10px;
  border-radius: 15px;
}

#heading,
#horoscopeName,
#zodiacName, 
#welcomeMessage {
  font-family: "Orbitron", sans-serif;
}

#heading a {
    color: white;
}

#signs {
  text-align: center;
  color: white;
  font-size: 40px;
}

#bday-countdown {
  display: none;
  top: 120px;
  color: white;
  text-align: center;
}

.uk-countdown-number {
    font-size: 30px;
}

#bday-count-head {
  text-align: center;
  font-family: "Orbitron", sans-serif;
  color: white;
}

#background {
  height: 1000px;
}

#bday-form1 {
  /* margin-top: 200px; */
  display: none;
}
/* 
#horoscope-description {
    display: none;
} */

#bday-count-head {
  bottom: 110px;
}

h3 {
  color: black;
}

#natalChart {
  top: 200px;
  right: 50px;
}

#natalChartHeading {
  top: 100px;
  right: 50px;
  text-align: center;
}

.uk-overlay-default {
  width: 100%;
}

.horoscope1,
.horoscope2 {
  background-color: #fafafa;
}

.tileColor1 {
  background-color: #ffe0b2;
}

.tileColor2 {
  background-color: #ffa726;
}

.quote1 {
  background-color: #bbdefb;
}
.quote2 {
  background-color: #e6ee9c;
}
.quote3 {
  background-color: #f8bbd0;
}

#and {
  display: none;
}
